<% provide :title, '編集' %>

<%= form_for(@opinion,url:comment_opinion_path,method: :patch) do |f| %>
  <div class="form-group">
    <%= f.label :名前 %>
    <%= f.text_field :name,class:'form-control'%>

    <%= f.label :コメント %>
    <%= f.text_field :content, class:'form-control' %>

    <%=image_tag @opinion.image.url if @opinion.image? %>
    <%=f.label "画像を変更する" %>
    <%=f.file_field :image %>
    <%=f.label "画像を削除する" %>
    <%=f.check_box :remove_image %>

    <%= f.submit value="編集する", class: "btn btn-large btn-primary" %>

  </div>
<% end %>
<%= button_to "削除する", comment_opinion_path(@opinion),method: :delete, data: {confirm: "本当に削除しますか？"}%>
<%= button_to "戻る", comment_path(@opinion.comment_id), method: :get %>
