<div class="list-group">
<% @comment.opinions.each_with_index do |opinion,i| %>
  <a class="list-group-item">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= i+1 %>:<%= opinion.name %></h5>
      <small><%= opinion.created_at %></small>
    </div>
    <p class="mb-1"><%= opinion.content %></p>
    <%= link_to "(編集する)", edit_comment_opinion_path(@comment,opinion) %>
  </a>
<% end %>
</div>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">コメントしてみよう</h4>
      <%= form_for @opinion, url: comment_opinions_path(@comment, @opinion) do |f| %>
        <div class="form-group">
          <%= f.label :名前 %>
          <%= f.text_field :name, class:'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :コメント %>
          <%= f.text_area :content, class:'form-control' %>
        </div>
      <%= f.submit value="投稿する" %>
      <% end %>
  </div>
</div>
