<div class="list-group">
<% @comment.opinions.each_with_index do |opinion,i| %>
  <div class="list-group-item" >
    <div class="d-flex w-100 justify-content-between">
      <a class="mb-1" href=<%=edit_comment_opinion_path(@comment,opinion)%> >
        <%= i+1 %>:<%= opinion.name %></a>
      <small><%= opinion.created_at %></small>
    </div>
    <p class="mb-1"><%= opinion.content %></p>
    <p class="mb-1"><%=image_tag opinion.image.url if opinion.image? %></p>
  </div>
<% end %>
</div>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">コメントしてみよう</h4>
      <%= form_for @opinion, url: comment_opinions_path(@comment, @opinion) do |f| %>
        <div class="form-group">
          <%= f.label :名前 %>
          <%= f.text_field :name,placeholder:"名無しマン", class:'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :コメント %>
          <%= f.text_area :content,placeholder:"ええやんけ、、",class:'form-control' %>
        </div>
        <div class="form-group">
          <%=f.label "画像をアップロード" %>
          <%= f.file_field :image, class:'form-control' %>
        </div>
          <%= f.submit value="コメントする", class: "btn btn-large btn-primary" %>
      <% end %>
  </div>
</div>
