<% provide :title, @comment.title %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <a class="display-3" href=<%= edit_comment_path(@comment) %>>
      <%= @comment.title %></a>
        <p>あれは<%= @comment.when %>の時でした、、</p>
        <p class="lead"><%= @comment.story %></p>
        <p>それでは聞いてください。</p>
      <h5><%= @comment.singer %>で<%= @comment.song %></h5>
  </div>
</div>

<%= render "comments/opinions" %>
