<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href= <%= static_pages_index_path%> >
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/6a/Topimage_(2ch).png/250px-Topimage_(2ch).png" width="30" height="30" class="d-inline-block align-top" alt="">
    思い出そんぐ
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href= <%= static_pages_index_path%>>トップに戻る<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href= <%= new_comment_path%>>新しい思い出を書く</a>
      </li>
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           その他
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href=<%=static_pages_about_path %>>このサイトについて</a>
           <a class="dropdown-item" href=<%= static_pages_help_path %>>困ったら！</a>
         </div>
       </li>
    </ul>
    <%= form_tag(static_pages_index_path,:method => 'get') do %>
    <%= text_field_tag :search,'', placeholder:"思い出そんぐを探す"  %>
    <%= submit_tag 'Search' %>
    <% end %>
  </div>
</nav>
